<div class="field" [class.is-danger]="showError">
  <label class="label" *ngIf="to.label && to.hideLabel !== true" [attr.for]="id">
    {{ to.label }}
    <span *ngIf="to.required && to.hideRequiredMarker !== true">*</span>
  </label>
  <div class="control has-icons-right">
    <ng-template #fieldComponent></ng-template>
    <span class="icon is-small is-right" *ngIf="showError && field.type !== 'select'">
      <i class="fa fa-exclamation-triangle"></i>
    </span>
  </div>
  <div *ngIf="showError" class="help is-danger">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>
  <p *ngIf="to.description && !showError" class="help">
    {{ to.description }}
  </p>
</div>
