<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <section class="section is-medium">
      <h3 class="title is-3">Formly Form</h3>
      <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>
          <div class="buttons">
            <button class="button is-white" (click)="options.resetModel()">Reset</button>
            <button class="button is-primary" type="submit" [disabled]="!form.valid">Send</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
